{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Book Reviews</h1>
            <p class="lead">A list of books related to machine learning, data science, and programming, either academic,
                such as textbooks or guides, or fun and thought-provoking non-fiction about big data and 21st century
                data
                mining.</p>
        </div>

        {% if ml_books %}
            <div class="review-list">
                <h2>Machine Learning</h2>
                <hr>
                <ul>
                    {% for ml_book in ml_books %}
                        <li>
                            <a href="{{ ml_book.get_absolute_url }}">{{ ml_book.resource_name }}</a>
                        </li>
                        {% load blog_tagcloud %}
                        <div class="review-tags">
                            <ul>
                                {% for tag in ml_book.tags.all %}
                                    <li><a href="{% url 'posts-by-tag' tag.slug %}"
                                           style="background-color: hsl({{ tag.pk|id_to_color }}, 60%, 80%)">
                                        {{ tag.slug }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}