{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Book Reviews</h1>
            <p class="lead">A list of books related to machine learning, data science, and programming, either academic,
            such as textbooks or guides, or fun and thought-provoking non-fiction about big data and 21st century data
            mining.</p>
        </div>

        <div class="book-list">
            <h2>Textbooks</h2>
            <hr>
            <ul>
                <a href="#"></a>
            </ul>
            <h2>Manuals</h2>
            <hr>
            <ul>
                <a href="#"></a>
            </ul>
            <h2>Non-fiction</h2>
            <hr>
            <ul>
                <a href="#"></a>
            </ul>
        </div>
    </div>

{% endblock %}