{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Course Reviews</h1>
            <p class="lead">Here we list and review MOOCs for programming and data science to give you an idea of what
                to expect from each course so you can plan your education accordingly.</p>
        </div>

        <div class="course-list">
            <h2>Machine Learning</h2>
            <hr>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/2/fastai-machine-learning/">FastAI: Introduction to Machine Learning for Coders</a>
            </ul>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/1/machine-learning-a-z/">Machine Learning A-Z™: Hands-On Python & R In Data
                    Science</a>
            </ul>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/4/statistical-learning/">Stanford
                    Statistical Learning</a>
            </ul>
            <h2>Data Science</h2>
            <hr>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/6/data-science-a-z/">Data Science A-Z™: Real-Life Data Science Exercises
                    Included</a>
            </ul>
            <h2>Programming</h2>
            <hr>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/3/udacity-cs101-intro-programming/">Udacity CS101: Intro to Programming</a>
            </ul>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/5/harvard-cs50/">Harvard CS50</a>
            </ul>
            <ul>
                <a href="https://www.intelligencerefinery.io/reviews/7/mitx-intro-computer-science/">MITx 6.00.1x: Introduction to Computer Science and Programming Using Python</a>
            </ul>
        </div>
    </div>

{% endblock %}