{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Course Reviews</h1>
            <p class="lead">Here we list and review MOOCs for programming and data science to give you an idea of what
                to expect from each course so you can plan your education accordingly.</p>
        </div>

        <div class="course-list">
            <h2>Machine Learning</h2>
            <hr>
            {% if ml_courses %}
                {% for ml_course in ml_courses %}
                    <ul>
                        <a href="{% url 'reviews:review-detail' ml_course.pk ml_course.slug %}">{{ ml_course.resource_name }}</a>
                    </ul>

                    <div class="review-tags">
                        <ul>
                            {% for tag in ml_course.tags.all %}
                                <li><a href="{% url 'posts-by-tag' tag.slug %}">{{ tag.slug }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endfor %}
            {% endif %}
            <h2>Programming</h2>
            <hr>
            {% if cs_courses %}
                {% for cs_course in cs_courses %}
                    <ul>
                        <a href="{% url 'reviews:review-detail' cs_course.pk cs_course.slug %}">{{ cs_course.resource_name }}</a>
                    </ul>
                    <div class="review-tags">
                        <ul>
                            {% for tag in cs_course.tags.all %}
                                <li><a href="{% url 'posts-by-tag' tag.slug %}">{{ tag.slug }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}