{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Course Reviews</h1>
            <p class="lead">Here we list and review MOOCs for programming and data science to give you an idea of what
                to expect from each course so you can plan your education accordingly.</p>
        </div>

        <div class="review-list">
            {% if ml_courses %}
                <h2>Machine Learning</h2>
                <hr>
                <ul>
                    {% for ml_course in ml_courses %}
                        <li>
                            <a href="{{ ml_course.get_absolute_url }}">{{ ml_course.resource_name }}</a>
                        </li>
                        {% load blog_tagcloud %}
                        <div class="review-tags">
                            <ul>
                                {% for tag in ml_course.tags.all %}
                                    <li><a href="{% url 'posts-by-tag' tag.slug %}"
                                           style="background-color: hsl({{ tag.pk|id_to_color }}, 60%, 80%)">
                                        {{ tag.slug }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if cs_courses %}
                <h2>Programming</h2>
                <hr>
                <ul>
                    {% for cs_course in cs_courses %}
                        <li>
                            <a href="{{ cs_course.get_absolute_url }}">{{ cs_course.resource_name }}</a>
                        </li>

                        <div class="review-tags">
                            <ul>
                                {% for tag in cs_course.tags.all %}
                                    <li><a href="{% url 'posts-by-tag' tag.slug %}"
                                           style="background-color: hsl({{ tag.pk|id_to_color }}, 60%, 80%)">
                                        {{ tag.slug }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}