{% extends "main/base.html" %}

{% block title %}Review | {{ review.resource_name }}{% endblock %}

{% block sidebar %}
    {% if toc %}
        {{ toc|safe }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content">
        <h2><a href="{{ review.url }}">{{ review.resource_name }}</a></h2>
        <div class="post-header">
            <p>
                <b>{{ author.first_name }} {{ author.last_name }}</b>
                <a href="{{ author.github }}"><i class="fab fa-github-square fa-lg"></i></a>
                {% if author.stack_overflow %}
                    <a href="{{ author.stack_overflow }}"><i class="fab fa-stack-overflow fa-lg"></i></a>
                {% endif %}
            </p>
            <p>{{ resource_type.name }} by {{ review.resource_author }}</p>
            <p>Resource last updated: {{ review.last_updated }}</p>
        </div>
        <div class="review-tags">
            <ul>
                {% for tag in review.tags.all %}
                    <li><a href="{{ tag.get_absolute_url }}"
                           style="background-color: hsl({{ tag.color }})">
                        {{ tag.slug }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        {{ review.content|safe }}
    </div>
    <br>
{% endblock %}