{% extends "main/base.html" %}

{% block title %}Review | {{ review.resource_name }}{% endblock %}

{% block content %}
    <div class="content">
        <h2><a href="{{ review.url }}">{{ review.resource_name }}</a></h2>
        <p>Last updated: {{ review.last_updated }}</p>
        <p>{{ resource_type.name }} author: {{ review.resource_author }}</p>
        {% load static %}
        <p>
            Reviewed by {{ author.first_name }} {{ author.last_name }}
            <a href="{{ author.github }}"><i class="fab fa-github-square fa-lg"></i></a>
            {% if author.stack_overflow %}
                <a href="{{ author.stack_overflow }}"><i class="fab fa-stack-overflow fa-lg"></i></a>
            {% endif %}
        </p>
        {% for tag in review.tags.all %}
            <a id="tag-link" href="{% url 'reviews:reviews-by-tag' tag.slug %}">#{{ tag.name }}</a>
        {% endfor %}
        <hr>
        {{ review.content|safe }}
    </div>
    <br>

{% endblock %}