{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Software Reviews</h1>
            <p class="lead">We've reviewed the different tools we've used over the years and summarized the main
                benefits and drawbacks of each to save you time.</p>
        </div>

        <div class="software-list">
            <h2>IDEs</h2>
            <hr>
            <ul>
                <a href="#"></a>
            </ul>
        </div>
    </div>

{% endblock %}