{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Software Reviews</h1>
            <p class="lead">We've reviewed the different tools we've used over the years and summarized the main
                benefits and drawbacks of each to save you time.</p>
        </div>

        {% if ides %}
            <div class="review-list">
                <h2>IDEs</h2>
                <hr>
                <ul>
                    {% for ide in ides %}
                        <li>
                            <a href="{% url 'reviews:review-detail' ide.pk ide.slug %}">{{ ide.resource_name }}</a>
                        </li>

                        <div class="review-tags">
                            <ul>
                                {% for tag in ide.tags.all %}
                                    <li><a href="{% url 'posts-by-tag' tag.slug %}"
                                           style="background-color: hsl({{ tag.pk|id_to_color }}, 60%, 80%)">
                                        {{ tag.slug }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endfor %}
                </ul>

            </div>
        {% endif %}
    </div>

{% endblock %}