[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "==2.1.8"
gunicorn = "*"
whitenoise = "*"
django-markdownx = "*"
django-heroku = "*"
django-tagulous = "*"
django-anymail = {extras = ["mailgun"],version = "*"}
pillow = "*"
wiki = "*"
django-debug-toolbar = "*"
django-autocomplete-light = "*"
psycopg2-binary = "*"
django-dotenv = "*"
urllib3= "==1.24.2"

[requires]
python_version = "3.7.3"
