{% extends 'main/base.html' %}

{% block title %}Intelligence Refinery{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <div class="container">
                <h1 class="display-4">Welcome to the Intelligence Refinery!</h1>
                <p class="lead">Overwhelmed by the number of data science MOOCs and datasets? We have a collection
                    of course reviews, useful resources, and articles about data science, with the goal of cutting
                    through the noise and helping other students make the most of their data science education.</p>
                <a id="learn-more" href="{% url 'blog:resources' %}" class="mt-auto btn btn-dark ">Learn More</a>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="card-deck">
                    <div class="card text-white bg-dark mb-4">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Blog Posts</h5>
                            <p class="card-text">All blog posts, sorted in order of recency.</p>
                            <a id="read-more" href="{% url 'blog:posts' %}" class="mt-auto btn btn-dark ">Read Blog Posts</a>
                        </div>
                    </div>
                    <div class="card text-white bg-secondary mb-4">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Resources</h5>
                            <p class="card-text">A smorgasbord of resources collected over months of seeking out the
                                best tools for various use cases.
                            </p>
                            <a id="read-more" href="{% url 'blog:resources' %}" class="mt-auto btn btn-dark ">Browse Resources</a>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-4">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Course Reviews</h5>
                            <p class="card-text">Online courses reviewed for content, clarity, and many more!
                            </p>
                            <a id="read-more" href="{% url 'blog:resources' %}" class="mt-auto btn btn-dark ">Read Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}