{% extends 'main/base.html' %}

{% block title %}Posts tagged #{{ slug }}{% endblock %}

{% block content %}
    {% if blog_posts %}
        <h2>Blog posts tagged #{{ slug }}</h2>
        <div class="container mt-3">
            <div class="row">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        {% for post in blog_posts %}
                            <div class="card border-primary mb-4">
                                {#<img class="card-img-top" src="https://placehold.it/280x140/abc" alt="Card image cap">#}
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.blurb }}</p>
                                    <a href="{{ post.get_absolute_url }}"
                                       class="btn mt-auto btn-primary">Read More</a>
                                    <div class="card-footer text-muted">
                                        <small>Published on {{ post.publication_date }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>No posts tagged #{{ slug }}.</p>
    {% endif %}

    {% if reviews %}
        <h2>Reviews tagged #{{ slug }}</h2>
        <div class="container mt-3">
            <div class="row">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        {% for review in reviews %}
                            <div class="card border-primary mb-4">
                                {#<img class="card-img-top" src="https://placehold.it/280x140/abc" alt="Card image cap">#}
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ review.resource_name }}</h5>
                                    <p class="card-text">{{ review.blurb }}</p>
                                    <a href="{{ review.get_absolute_url }}"
                                       class="btn mt-auto btn-primary">Read More</a>
                                    <div class="card-footer text-muted">
                                        <small>Last updated on {{ review.last_updated }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>No reviews tagged #{{ slug }}.</p>
    {% endif %}
{% endblock %}