{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Resources</h1>
            <p class="lead">Check out the embedded AirTable views for an up-to-date list of categorized resources
                for work and studying.</p>
        </div>

        <div class="resource-list">
            <h2>Python</h2>
            <hr>
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrJMdUVm2G1b3ttU?backgroundColor=pinkLight"
                    frameborder="0" onmousewheel="" width="100%" height="533"
                    style="background: transparent; border: 1px solid #ccc;"></iframe>
            <h2>Machine Learning</h2>
            <hr>
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrASDZhbV1UwZs4v?backgroundColor=cyanLight"
                    frameborder="0" onmousewheel="" width="100%" height="533"
                    style="background: transparent; border: 1px solid #ccc;"></iframe>
            <h2>Data Science</h2>
            <hr>
            <iframe class="airtable-embed" src="https://airtable.com/embed/shr3fKA7l5SnyDGNj?backgroundColor=orange"
                    frameborder="0" onmousewheel="" width="100%" height="533"
                    style="background: transparent; border: 1px solid #ccc;"></iframe>
            <h2>Statistics and Mathematics</h2>
            <hr>
            <iframe class="airtable-embed"
                    src="https://airtable.com/embed/shrarNkE4k01x6tX8?backgroundColor=yellowLight" frameborder="0"
                    onmousewheel="" width="100%" height="533"
                    style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
    </div>


{% endblock %}