{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Course Reviews</h1>
            <p class="lead">Here we list and review MOOCs for programming and data science to give you an idea of what
                to expect from each course so you can plan your education accordingly.</p>
        </div>

        <div class="course-list">
            <h2>Machine Learning</h2>
            <hr>
            <ul>
                <a href="https://course.fast.ai/ml.html">FastAI: Introduction to Machine Learning for Coders</a>
            </ul>
            <ul>
                <a href="https://www.udemy.com/machinelearning/">Machine Learning A-Z™: Hands-On Python & R In Data
                    Science</a>
            </ul>
            <ul>
                <a href="https://lagunita.stanford.edu/courses/HumanitiesSciences/StatLearning/Winter2016/about">Stanford
                    Statistical Learning</a>
            </ul>
            <h2>Data Science</h2>
            <hr>
            <ul>
                <a href="https://www.udemy.com/datascience/">Data Science A-Z™: Real-Life Data Science Exercises
                    Included</a>
            </ul>
            <h2>Programming</h2>
            <hr>
            <ul>
                <a href="https://classroom.udacity.com/courses/cs101">Udacity CS101: Intro to Programming</a>
            </ul>
            <ul>
                <a href="https://courses.edx.org/courses/course-v1:HarvardX+CS50+X/course/">Harvard CS50</a>
            </ul>
            <ul>
                <a href="https://courses.edx.org/courses/course-v1:MITx+6.00.1x_11+1T2017/course/">MITx 6.00.1x: Introduction to Computer Science and Programming Using Python</a>
            </ul>
        </div>
    </div>

{% endblock %}