{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Portfolio</h1>
            <p class="lead">This is Mihai Chelaru's portfolio page. You'll find below his CV and relevant data science
                projects.</p>
        </div>

        <div class="course-list">
            <h2><a href="#">Curriculum Vitae</a></h2>
            <hr>
            <h2>Projects</h2>
            <hr>
            <ul>
                <a href="#">Telco Churn Analysis</a>
            </ul>
            <ul>
                <a href="#">Cannabis Strains Web Scraping and EDA</a>
            </ul>
        </div>
    </div>

{% endblock %}