{% extends 'main/base.html' %}

{% block title %}Blog Main Page{% endblock %}

{% block content %}
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                <div class="card" style="width: 18rem;">
{#                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">#}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.blurb }}</p>
                        <a href="{% url 'blog:post-detail' post.pk post.slug %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts with this tag.</p>
        {% endif %}
    </div>
{% endblock %}