{% extends 'main/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Resources</h1>
        <p class="lead">This is our own list of resources we use for work and studying. This is as much for us as it is
            for sharing with others.</p>
        <hr class="my-4">
        <p>Click below for a Trello board put together and maintained by Nancy with many links to wonderful outside
            resources.</p>
        <a class="btn btn-primary btn-lg" href="https://trello.com/b/yCDHtECI/library" role="button">Trello Board</a>
    </div>
{% endblock %}