{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Resources</h1>
            <p class="lead">An annotated list of resources for work and studying. Follow the links to each Notion board
                for
                more information.</p>
        </div>

        <div class="resource-list">
            <h2>Data Science</h2>
            <hr>
            <ul>
                <a href="https://www.notion.so/29df9e6f127d468b80a841fa6d66b0ed?v=59a4e2750d664bbeb8fca943a69df376">Primers</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/124345760ee04332930703138ca5ad66?v=1f3f41ae498a43a9bdd8ee171ab97676">Learning
                    Path</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/3ae4839eee434e5e842bc38321cf5eed?v=8099a1b3b2594b34a861ad6835891e63">Data
                    cleaning/wrangling</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/3e6ffe5769714124bc14ca9426593c3a?v=55def5925d5c4db994ee2f0aaef4901c">Data
                    visualization</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/bf8662df9d20445cabf31d41080e661a?v=bb3241d714eb407aa060931bf95c26f3">Data
                    science projects</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/263b9cf980d3475d996dbf98d8776ca3?v=6cca44c07d284ae2b101d8cd8891d43f">Professional
                    development</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/4de490c5d142474ca4056c82028c784e?v=4d665c2994e54e6c9cbf86075bb15e49">Books</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/12ae07f871be4b14b71c6cb8300f4c41?v=b1fcce7dd1c247acb4c29935f7019c55">Interesting
                    stuff</a>
            </ul>
            <h2>Statistics</h2>
            <hr>
            <ul>
                <a href="https://www.notion.so/3b1a2adca86042bca58c9da231458e34?v=b7db0b5cdf284a50848d4e10e88f1918">Resources</a>
            </ul>
            <h2>Machine Learning</h2>
            <hr>
            <ul>
                <a href="https://www.notion.so/cdce8be6b66d4a1b8df4da00d900ef24?v=a7cb121aacad4461a919f70e76e3e520">Courses</a>
            </ul>
            <ul>
                <a href="https://www.notion.so/ddc4728e73754fd690a005f0055ce69c?v=b7303a1931484133b54b2b8e200f5f2b">Resources</a>
            </ul>
            <h2>Python</h2>
            <hr>
            <ul>
                <a href="https://www.notion.so/f5a8431c232c4af9800265c7fdcfd00e?v=dd91f61fbdf4466190cfc883ba42d827">Web
                    Scraping</a>
            </ul>
            <h2>Software</h2>
            <ul>
                <a href="https://www.notion.so/e5f81023f0d54e72801564acf066d3ae?v=838df08073ed4d799d68446b1723a179">Reviews</a>
            </ul>
        </div>
    </div>


{% endblock %}