.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    background: rgb(255,255,255);
    opacity: 0.9;
}
.container-fluid {
    float: right;
    background: rgb(255,255,255);
    opacity: 0.9;
}

.tag_1 {
    font-size: 9px;
}

.tag_2 {
    font-size: 10px;
}

.tag_3 {
    font-size: 11px;
}

.tag_4 {
    font-size: 12px;
}

.tag_5 {
    font-size: 14px;
}

.tag_6 {
    font-size: 16px;
}