@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #b7defa;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfe2f5+0,53cbf1+0,ba81eb+0,53cbf1+100,ba81eb+100 */
    background: #bfe2f5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #bfe2f5 0%, #53cbf1 0%, #ba81eb 0%, #53cbf1 100%, #ba81eb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #bfe2f5 0%, #53cbf1 0%, #ba81eb 0%, #53cbf1 100%, #ba81eb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #bfe2f5 0%, #53cbf1 0%, #ba81eb 0%, #53cbf1 100%, #ba81eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfe2f5', endColorstr='#ba81eb', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
}

aside {
    display: none;
}

section {
    flex: 8;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

footer {
    margin-top: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #b7defa;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.card-deck .card {
    padding-bottom: 50px;
    min-width: 18rem;
    max-width: 20.5rem;
}

#nav-container {
    padding: 0;
}

#site-container {
    max-width: 1440px;
}

#center-page {
    display: flex;
    height: 100%;
    background: rgb(255, 255, 255);
    opacity: 0.8;
    padding: 30px;
}

.content h2 {
    margin-bottom: 20px;
}

#learn-more {
    font-weight: bold;
    font-size: 1.5em;
}

#read-more {
    padding-top: 5px;
}

#tag-header {
    padding: 10px;
    text-align: center;
}

.tagcloud {
    display: inline-block;
}

.tagcloud > * {
    display: inline-block;
}

.tag-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.tag_1 {
    font-size: 11px;
}

.tag_2 {
    font-size: 12px;
}

.tag_3 {
    font-size: 13px;
}

.tag_4 {
    font-size: 14px;
}

.tag_5 {
    font-size: 16px;
}

.tag_6 {
    font-size: 18px;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.5);
    overflow: auto;
}

.wrapper > * {
    padding: 1em 1em 1em 2em;
}

/* FORM STYLES */
.contact form label, .contact form h2 {
    display: block;
    padding-top: 1em;
    padding-bottom: 0;
}

.contact form p {
    margin: 0;
}

.contact form button, .contact form input, .contact form textarea {
    max-width: 1000px;
    padding: 1em;
    border: 1px solid #92bde7;
}

.contact form button {
    text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus {
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 1s ease-out;
}

.review-tags ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.review-tags ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.review-tags ul li a {
	display: inline-block;
	max-width: 100px;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.review-tags ul li a:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
}

@media only screen and (min-width: 992px) {
    aside {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
    }
}